.News__content {
  display: block;
  display: -webkit-box;
  /*height: 2.6em; */
  /*line-height: 1.3em;*/
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.News__media {
  /*max-width: 190px;*/
  max-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}